.sign-in-container {
    display: inline-block;
    min-width: fit-content;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-sizing: border-box; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    
  }
  h1 {
    white-space: nowrap;
    margin-bottom: 150px;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
  }
  
  h2 {
    text-align: center;
    margin-top: 0;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  

  button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #000100;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 200px; /* Ajoutez de l'espace sous le bouton "Sign In" */
  }
  
  
  button:hover {
    background-color: #0056b3;
  }
  
  .error-message {
    color: red;
    font-size: 12px;
    text-align: center;
    margin-bottom: 10px;
  }
  